Ausarbeitung/PIB_PA_Demoszene/*.aux
Ausarbeitung/PIB_PA_Demoszene/*.bbl
Ausarbeitung/PIB_PA_Demoszene/*.blg
Ausarbeitung/PIB_PA_Demoszene/*.log
Ausarbeitung/PIB_PA_Demoszene/*.out
Ausarbeitung/PIB_PA_Demoszene/*.toc
Ausarbeitung/PIB_PA_Demoszene/*.synctex.gz
Ausarbeitung/PIB_PA_Demoszene/*.fdb_latexmk
Ausarbeitung/PIB_PA_Demoszene/*.fls
Ausarbeitung/PIB_PA_Demoszene/*.pdf